/*! bulmaswatch v0.6.1 | MIT License */
@import "../node_modules/bulmaswatch/yeti/variables";
@import "../node_modules/bulma-scss-version/bulma";
@import "../node_modules/bulmaswatch/yeti/overrides";

// Global namespace
html,
body,
#react-root,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// App layout

// Pages

// Components
